<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-defaulty">
        
                
                <!--isi content-->
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">
                           <p>
                               <strong>Coffe Tour & Jaunt</strong>
                           </p>

                      </div> 
                   </div>
                </div>
                <!--Akhir isi Content-->

        </div> 
        </div>
    </div>				
    </div>

		
			