<div class="col-md-9 column">
    <div class="row clearfix">
    <div class="col-md-12 column">
        <div class="panel panel-default">
        
                
<!--                isi content
                <div class="row">
                    <div class="center-block">
                       <div class="col-xs-12 col-md-12">-->
                        <p class="text-center"><strong>ARJUNA SAMBA</strong><br>
                        Spesifikasi : Mesin Mercedes-Benz OM 906 LA / OH1526 Euro 3, Body Adiputro Jetbus HD tahun 2012,Air Conditioned (AC),Reclining Seats 2-3 dengan 59 kursi, 2 LCD TV, DVD, Karaoke, Radio, Bagasi ladder frame</p>
                          <img src="<?php echo URL .'public/armada/Armada 1.jpg'?>" alt="IMAGE" class="img-rounded" width='100%'>  
                          
                          
                          
                          
                          <div class="row">
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="<?php echo URL .'public/armada/Armada 1-2.jpg'?>" class="img-rounded" width='100%'>                                        
                                        </div>
                                    </div>  
                                    <div class="col-md-6">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="<?php echo URL .'public/armada/Armada 1-2-3.jpg'?>" class="img-rounded" width='100%'>                                        
                                        </div>
                                    </div>  
                          </div>
                          
                          
                          
                          
                          
                          
                          
                          
                           <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                
                                    <tr>
                                        <td align='right'>No Telp</td><td>:</td>
                                        <td>08576823486 / 0821854222</td>
                                    </tr>
                                    <tr>
                                        <td align='right'>E-Mail</td><td>:</td>
                                        <td>08576823486 / 0821854222</td>
                                    </tr>
                                
                            </table>
                           </div>
<!--                      </div> 
                   </div>
                </div>-->
                <!--Akhir isi Content-->

        </div> 
        </div>
    </div>				
    </div>

		
			