<div class="col-md-9 column">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-body">             
                    <!--isi content-->
                    <div class="row">
                        <div class="center-block">
                            <div class="col-xs-12 col-md-12">

                                <div class="row">

                                    <?php if(!empty($getall) ):?>
                                    <?php foreach ($getall as $row) { ?>
                                    <div class="col-md-4">
                                        <div class="thumbnail">
                                            <img alt="300x200" src="<?php echo URL .'public/images/'.$row->image?>" class="img-rounded" width='100%'></p>
                                            <!-- <img alt="300x200" src="<?php echo URL;?>public/img/pahawang.jpg" class="img-rounded" /> -->
                                            <div class="caption">
                                                <h3>
                                                    <?php echo $row->tujuan;?>
                                                </h3>
                                                <p>
                                                    Harga Rp.<?php echo number_format($row->harga);echo $row->id_reservasi;?>
                                                </p>
                                                <a href="<?php echo URL.'reservasi/getorder/'.$row->id_reservasi;?>" class="btn btn-primary active btn-xs" type="button">Pesan !!</a><span class="label label-default"></span><span class="label label-default"></span>                                                              
                                                    
                                            </div>
                                        </div>
                                    </div>
                                    <?php
                                    }?>
                                    <?php endif;?>		


                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div> 	
        
